/* Efek gulir halus saat menu diklik */
html {
  scroll-behavior: smooth;
}

/* Memberikan jarak aman di atas section agar judul tidak tertutup navbar */
section {
  scroll-margin-top: 68px;
}

/* Memastikan tinggi kartu proyek seragam */
.card-img-top {
  height: 200px;
  object-fit: cover;
}
